<!-- app/templates/registro_tarea.html -->

{% extends 'base.html' %}

{% block content %}

<div class="form-container">  <!-- Contenedor del formulario -->
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div>
            <label for="id_trabajador">Selecciona Trabajador:</label>
            <select id="id_trabajador" name="id_trabajador" required>
                <option value="">-- Selecciona un trabajador --</option>
                {% for trabajador in trabajadores %}
                    <option value="{{ trabajador.ID_trabajador }}">
                        {{ trabajador.ID_trabajador }} - {{ trabajador.nombre_trabajador }} {{ trabajador.apellido1_trabajador }} {% if trabajador.apellido2_trabajador %}{{ trabajador.apellido2_trabajador }}{% endif %}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="id_proyecto">Selecciona Proyecto:</label>
            <select id="id_proyecto" name="id_proyecto" required>
                <option value="">-- Selecciona un proyecto --</option>
                {% for proyecto in proyectos %}
                    <option value="{{ proyecto.ID_proyecto }}">
                        {{ proyecto.ID_proyecto }} - {{ proyecto.numero_proyecto }} - {{ proyecto.cliente_proyecto }} - {{ proyecto.nombre_proyecto }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="tarea">Tarea Efectuada:</label>
            <input type="text" id="tarea" name="tarea" placeholder="Introduzca tarea" required>
        </div>

        <div>
            <label for="horas">Horas Efectuadas:</label>
            <input type="number" step="0.05" min="0.05" id="horas" name="horas" placeholder="Introduzca horas" required>
        </div>

        <hr>

        <button type="submit">Registrar</button>
    </form>
    <a href="{{ url_for('registro_tarea') }}">
        <button type="button">Limpiar/Refrescar</button>
    </a>
</div>
{% endblock %}